CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_generic=y

# The patched driver + tools
CONFIG_PACKAGE_kmod-bnx2x=y
CONFIG_PACKAGE_pciutils=y

# WAN / multi-session
CONFIG_PACKAGE_ppp-mod-pppoe=y

# Web UI
CONFIG_PACKAGE_luci=y

# Multi-PPPoE load balancing (stc multi-session trick)
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_luci-app-mwan3=y

# Optional
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_wireguard-tools=y
